body, button, div, canvas, fieldset{
  margin: 0;
  padding: 0;
}

.alternativeLook() {
  padding: 10px;
  border: 2px dashed #C3C3C6;
  border-radius: 10px;
  background-color: black;
  outline: none;
  font-size: 18px;
  font-family: 'Arial';
  color: #d9d9dc;
  font-weight: bolder;
}

#wrapper {
  overflow: hidden;
  padding: 15px;

  #button-panel{
    border: none;
    padding-left: 20px;

    button {
      margin-bottom: 10px;
      .alternativeLook();
      display: block;
      &:hover{
        background-color: grey;
      }
    }
  }

  #game-window {
    float: left;
    canvas {
      cursor: url(../resources/art/aim-alternative.cur), auto;
      border: 1px solid black;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
  }
}

#game-over {
  position: absolute;
  z-index: 99;
  background-color: #222;
  opacity: 0.8;
  text-align: center;
  color: #fff;
  font-size: 2em;
  display: none;
}

body { background: #343434; }

#phone { transition: 1s; }

svg:hover #phone { fill: darkslateblue; }
#play{
  background-color: #000000;
  border: 2px dashed #C3C3C6;
  border-radius: 10px;
  color: #D9D9DC;
  display: block;
  font-family: 'Arial';
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 79px;
  margin-top: -71px;
  outline: medium none;
  padding: 10px;
  position: fixed;
}
svg:hover text { fill : darkslateblue; }
#play{
  background-color: #000000;
  border: 2px dashed #C3C3C6;
  border-radius: 10px;
  color: #D9D9DC;
  display: block;
  font-family: 'Arial';
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-left: 79px;
  margin-top: -71px;
  outline: medium none;
  padding: 10px;
  position: fixed;
}

text{ transition: 2s; }