body,
button,
div,
canvas,
fieldset {
  margin: 0;
  padding: 0;
}

#wrapper {
  position: relative;
  overflow: hidden;
  padding: 15px;
}

#wrapper #button-panel {
  border: none;
  padding-left: 20px;
}

#wrapper #button-panel button {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px dashed #C3C3C6;
  border-radius: 10px;
  
background-color: black;
  outline: none;
  font-size: 18px;
  font-family: 'Arial';
  color: #d9d9dc;
  font-weight: bolder;
  display: block;
}

#wrapper #button-panel button:hover {
  background-color: grey;
}

#wrapper #game-window {
  float: left;
}

#wrapper #game-window canvas {
  cursor: url(../resources/art/aim-alternative.cur)border: 1px solid black;
 
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
#game-over {
  position: absolute;
  z-index: 99;
  background-color: #222;
 
 opacity: 0.8;
  text-align: center;
  color: #fff;
  font-size: 2em;
  display: none;
}

 